

* {
    margin:0px;
    padding: 0px;
    
}

 body {
    background-color: darkgray; 
    min-height: 100vh; 
}

header {
    background-color: black;
    text-align: center;
    color: white;
    margin-bottom: 100px;
}

header > h1 {
    font-variant: small-caps;
    padding-top: 50px;
}

header > p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

section {
    font-size: 47px;
}

section > p {
    background-color: black;
}




pre {
    font-family:  'Sriracha', cursive;
   
        
}

p {
    background-color: rgba(0, 0, 0, 0.192);
}

.borda {
    
}

.imagem {
    background-image: url(imagens/background001.jpg);
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
    padding: 14px;
    
}





.imagem2 {
    background-image: url(imagens/background002.jpg);
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
    padding: 14px;

}

footer {
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    

}










