@charset "UTF-8";

/* Versão Mobile first */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
}

body {
    background: black url('../imagens/back-phone.jpg') no-repeat center ;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.623);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: white;
    text-shadow: 2px 6px 12px black;

}


#phone {
    display: block;
    margin: auto;
}

#tablet {
    display: none;
}

#print {
    display: none;
}

#pc {
    display: none;
}

#tv {
    display: none;
}

